<app-lone-div id="github"
    ><p>
        All my projects are on
        <a href="https://github.com/Astgenne4922"
            ><img
                src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white"
                alt="Github"
        /></a></p
></app-lone-div>

<app-lone-div id="chat"
    ><p>
        I'm also available on
        <a href="https://discordapp.com/users/astgenne_"
            ><img
                src="https://img.shields.io/badge/Discord-%235865F2.svg?style=for-the-badge&logo=discord&logoColor=white"
                alt="Discord"
        /></a>
        and
        <a href="https://t.me/Astgenne"
            ><img
                src="https://img.shields.io/badge/Telegram-2CA5E0?style=for-the-badge&logo=telegram&logoColor=white"
                alt="Telegram"
        /></a></p
></app-lone-div>

<app-lone-div id="mail"
    ><p>
        You can mail me at
        <a href="mailto:danicandido02@gmail.com">danicandido02&#64;gmail.com</a>
    </p></app-lone-div
>
