<lone-div id="github">
    All my projects are on
    <a href="https://github.com/Astgenne4922" target="blank">
        <img
            src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white"
            alt="Github"
        />
    </a>
</lone-div>

<lone-div id="chat">
    I'm also available on
    <a href="https://discordapp.com/users/astgenne_" target="blank">
        <img
            src="https://img.shields.io/badge/Discord-%235865F2.svg?style=for-the-badge&logo=discord&logoColor=white"
            alt="Discord"
        />
    </a>
    and
    <a href="https://t.me/Astgenne" target="blank">
        <img
            src="https://img.shields.io/badge/Telegram-2CA5E0?style=for-the-badge&logo=telegram&logoColor=white"
            alt="Telegram"
        />
    </a>
</lone-div>

<lone-div id="mail">
    You can mail me at
    <a href="mailto:daniele.candido@tutamail.com">daniele.candido&#64;tutamail.com</a>
</lone-div>
