<nav>
    <div class="title">
        <a href="/">
            <svg>
                <rect x="0" y="8" width="40" height="12.5" fill="#88c1b0" />
                <rect x="0" y="20.5" width="40" height="12.5" fill="#eda93c" />
                <rect x="0" y="33" width="40" height="12.5" fill="#9a2d28" />
                <text x="37" y="45" font-size="50px" fill="#f8f6e7">
                    Daniele Candido
                </text>
            </svg>
        </a>
    </div>

    <div class="links">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/projects" routerLinkActive="active">Projects</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
    </div>
</nav>
