@use "../../variables.scss" as *;

#grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;

    margin: 20px;

    app-project:nth-child(3n + 1) {
        --lone-div-bg: #{$lone-blue};
    }

    app-project:nth-child(3n + 2) {
        --lone-div-bg: #{$lone-cyan};
    }

    app-project:nth-child(3n + 3) {
        --lone-div-bg: #{$lone-light-green};
    }
}