@use "../../../variables.scss" as *;

lone-div ::ng-deep>div {
    display: flex;
    flex-direction: column;

    height: 100%;

    font-size: 20px;

    .buttons {
        display: flex;
        justify-content: flex-end;

        margin-top: auto;
        margin-bottom: 0;

        a,
        a:active {
            margin: 0 10px;
            color: $lone-dark-grey;

            img {
                border: 1px solid $lone-black;
                border-radius: 5px;
            }
        }
    }
}